secrets.nix
config/alacritty/colors.toml

# Emacs
*~
\#*\#
*.elc
emacs/*
emacs/modules/
emacs/snippets/
emacs/themes/
emacs/init.el
emacs/early-init.el
emacs/var/dape/adapters/

# Vim
vim/plugged/
vim/autoload/

# Folder-specific ignore
.DS_Store

# Tmux plugins
tmux/.tmux/plugins/
