# Emacs backup and temporary files
*~
\#*\#
*.elc
emacs/var/
emacs/cache/
emacs/straight/
emacs/eln-cache/
emacs/recentf
emacs/transient/
emacs/tree-sitter/

# Folder-specific ignore
.DS_Store

# Tmux plugins
tmux/.tmux/plugins/
