Xcursor.theme: Adwaita
Xcursor.size: 24

! dmenu

dmenu.font:         JetBrainsMono Nerd Font:size=10
dmenu.background:   #282828
dmenu.foreground:   #ebdbb2
dmenu.selBackground: #458588
dmenu.selForeground: #fbf1c7

! urxvt

URxvt.termName:            rxvt-256color
URxvt.font:                xft:JetBrainsMono Nerd Font:size=11.5:antialias=true
URxvt.boldFont:            xft:JetBrainsMono Nerd Font:size=11.5:bold:antialias=true
URxvt.letterSpace:         0
URxvt.lineSpace:           0
URxvt.internalBorder:      10
URxvt.scrollBar:           false
URxvt.saveLines:           5000
URxvt.cursorBlink:         true
URxvt.cursorUnderline:     false
URxvt.pointerBlank:        true
URxvt.visualBell:          false
URxvt.urgentOnBell:        false

URxvt.color0:              #282828
URxvt.color1:              #CC241D
URxvt.color2:              #98971A
URxvt.color3:              #D79921
URxvt.color4:              #458588
URxvt.color5:              #B16286
URxvt.color6:              #689D6A
URxvt.color7:              #A89984
URxvt.color8:              #928374
URxvt.color9:              #FB4934
URxvt.color10:             #B8BB26
URxvt.color11:             #FABD2F
URxvt.color12:             #83A598
URxvt.color13:             #D3869B
URxvt.color14:             #8EC07C
URxvt.color15:             #EBDBB2
URxvt.foreground:          #EBDBB2
URxvt.background:          #282828
URxvt.cursorColor:         #EBDBB2
URxvt.cursorColor2:        #282828

URxvt.perl-ext-common:     default,clipboard,url-select,keyboard-select
URxvt.copyCommand:         xclip -i -selection clipboard
URxvt.pasteCommand:        xclip -o -selection clipboard
URxvt.keysym.M-c:          perl:clipboard:copy
URxvt.keysym.M-v:          perl:clipboard:paste