configuration {
    display-drun: "Applications";
    display-window: "Windows";
    show-icons: true;
    icon-theme: "Papirus";
    font: "JetBrainsMono Nerd Font Medium 12";

    kb-row-up: "Up,Control+k";
    kb-row-down: "Down,Control+j";
    kb-accept-entry: "Return,Control+m";
    kb-remove-to-eol: "";
}

@theme "gruvbox-dark"

window {
    padding: 10px;
    border: 1px;
    border-radius: 2px;
}

mainbox {
    spacing: 6px;
}

inputbar {
    padding: 4px;
    border: 0px;
}

prompt {
    margin: 0 6px 0 0;
}

entry {
    placeholder: "";
}

listview {
    lines: 10;
    spacing: 2px;
    scrollbar: false;
    border: 0px;
}

element {
    padding: 4px;
    border-radius: 2px;
}

element-icon {
    size: 18px;
    margin: 0 8px 0 0;
}

element-text {
    vertical-align: 0.5;
}